.header{
	width: 100%;
	background-color: rgb(51,51,51);
}
.logo{
	width: 960px;
	margin: 0 auto;
}
.logo h1{
	padding-left: 10px;
	color: white;
	font-weight: normal;
	display: inline-block;
}
.a{
	float: right;
	padding-top: 10px;
	margin-right: 10px;
	font-size: 15px;
}
.logo a{
	padding-left: 10px;
	color: white;
}
.banner{
	background-color: rgb(102,187,51);
	width: 100%;
	height: 300px;
}
.img{
	width: 960px;
	height: 300px;
	margin: 0 auto;
}
.numbernew{
	display: inline-block;
	border: 1px solid rgb(51,51,51);
	width: 30px;
	height: 45px;
	padding-top: 17px;
	margin-top: 240px;
	margin-right: 8px;
	box-sizing: border-box;
	text-align: center;
	float: right;
	color: black;
	background-color: rgb(224,241,214);
}
.number{
	display: inline-block;
	border: 1px solid rgb(51,51,51);
	width: 30px;
	height: 35px;
	padding-top: 7px;
	margin-top: 250px;
	margin-right: 8px;
	box-sizing: border-box;
	text-align: center;
	float: right;
	color: rgb(102,187,51);
	background-color: rgb(178,221,153);
}
.leading{
	border-bottom: 1px solid rgb(238,238,238);
	width: 100%
	height: 70px;

}
.menu{
	width: 960px;
	height: 70px;
	margin: 0 auto;
}
ul{
	width: 330px;
	height: 50px;
	list-style-type: none;
	float: left;
}
li{
	width: 110px
	height: 50px;
	line-height: 50px;
	padding: 4px 20px 0px 20px;
	box-sizing: border-box;
	float: left;
	font-size: 16px;
	text-align: center;
	border: 1px solid rgb(238,238,238);
	background-color: rgb(238,238,238);
}
.click{
	border-bottom: none;
	background-color: white;
}
.content{
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
}
.line1,.line3{
	width: 310px;
	height: 180px;
	flex: 0 0 auto;
	border: 1px solid rgb(238,238,238);
	box-sizing: border-box;
	margin: 5px;
	text-align: center;
	padding:80px;
}
.line2{
	width: 230px;
	height: 180px;
	flex: 0 0 auto;
	border: 1px solid rgb(238,238,238);
	box-sizing: border-box;
	margin: 5px;
	text-align: center;
	padding:80px;
}
.footer{
	width: 100%;
	height:120px;
	background-color: gray;
	color: white;
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	margin-top: 5px;
}